[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
fabric = "*"
httpie = "*"
invoke = "*"
ipython = "*"
pytest = "*"

[packages]
pyserial = "*"
pyyaml = "*"
tornado = "*"
webthing = "*"

[requires]
python_version = "3.7"
